@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #36393F;
	font-family: "Roboto";
}

.container {
	background-color: rgba(0,0,0,.2);
	border-color: rgba(0,0,0,.1);
	border-radius: 7px;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 5px;
	width: 60%;
}

.container label {
	display: block;
}

.container .title, .container .description {
	font-family: "Consolas", "Courier", "Courier New";
	line-height: 1rem;
}

.container .title {
	color: #FFFFFF;
	font-size: 1rem;
}

.container .description {
	color: #839496;
	font-size: 0.75rem;
}

.container textarea {
	background-color: #484B52;
	border-style: none;
	border-radius: 4px;
	color: #C5C6C8;
	margin-top: 5px;
	overflow: hidden;
	padding: 5px;
	resize: none;
	width: 100%;
}

.container textarea:required:placeholder-shown:not(:focus) {
	border-style: solid;
	border-color: #F04747;
	border-radius: 0px;
	border-width: 1px;
}

.container button {
	background-color: #7289DA;
	border-radius: 3px;
	border-style: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: .9em;
	padding: 10px;
	transition: .4s;
}

.container button:hover {
	background-color: #5970C1;
}

.container button[type="action"] {
	padding: 0;
	height: 30px;
	width: 30px;
}

.square {
	width: 5px;
	margin-top: 5px;
	border-radius: 5px 0 0 5px;
}

select {
	background-color: #484B52;
	border-color: #000000;
	border-radius: 4px;
	color: #DCDDDE;
	font-size: 1rem;
	outline-width: 0;
	padding: 10px;
	transition-duration: .5s;
	width: 50%;
}

select:hover {
	background-color: #36383D;
	border-radius: 6px;
	border-width: 2px;
}

sub {
	background-color: #36383D;
}